<!DOCTYPE html>
<!--  Mi primera página html -->
<html>
    <head>
        <title>Mis Autos</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-"><a class="nav-link menu-item" href="/ejemplo2">Mis Autos</a></li>
                    <li class="nav-menu-"><a class="nav-link menu-item" href="/multimedia">Multimedias</a></li>
                    <li class="nav-menu-"><a class="nav-link menu-item" href="/iframes">iFrames</a></li>
                </ul>
            </nav>
        </header>
    <body>
        <h1>Mis Autos</h1>
        
                <a href="/">TechShop</a> | <a href="/ejemplo2">Mis Autos</a>
        
        <h2>El de lunes...</h2>
        <img src="/img/carroverde.jpeg" width="300" alt=""/>
        
    </body>
</html>
