<!DOCTYPE html>
<!--  Mi primera página html -->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">TechShop</a>
                <ul>
                    <li><a href="/ejemplo2">Mis Autos</a></li>
                    <li><a href="/multimedia">Multimedias</a></li>
                    <li><a href="/iframes">iFrames</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h1>iFrames</h1>
            <p>Uso de iFrames dentro de un sitio web...</p>
        </aside>
        <section>
            <h2>iFrames</h2>
            <article>
                <h3>Sitio Empotrado</h3>
                <iframe src="http://ufidelitas.ac.cr"
                    width="1100"
                    height="600">
                    
                </iframe>
                
            </article>
            <article>
                <h3>YouTube</h3>
                <iframe width="853" height="480" src="https://www.youtube.com/embed/g8KuwGC0QYQ" title="📖 POCOYÓ en ESPAÑOL - Especial 2020: El cuento de colores |CARICATURAS y DIBUJOS ANIMADOS para niños" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </article>
            
            <article>
                <h3>Ubícanos</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.975833755888!2d-84.03867892549214!3d9.935968574134323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e3e409a4b65d%3A0xa2cf2259fe11fb0e!2sUniversidad%20Fid%C3%A9litas%20Entrada%20Norte!5e0!3m2!1ses-419!2scr!4v1747878900314!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>
            
        </section>
        <footer>
        TechShop 2025 &COPY; Todos los Derechos Reservados
        </footer>
    </body>
</html>
