<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <meta charset="UTF-8">
            <div class="container text-center my-5">
                <a th:href="@{/}" class="d-flex justify-content-center align-items-center gap-3 text-decoration-none">
                    <img th:src="@{/img/logo.jpg}" alt="Logo" style="height: 80px;" />
                    <h1 class="display-4 text-success m-0">Veterinaria</h1>
                </a>
            </div>
            <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
            <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <style>
        .btn-personalizado {
            background-color: #19cc83;
            color: black;
            border: none;
        }

        .btn-personalizado:hover {
            background-color: #17b373;
            color: black;
        }
    </style>

    <body class="bg-light">
        <!-- Botones -->
        <div class="d-grid gap-2 col-6 mx-auto mt-4">
            <a th:href="@{/informacion}" class="btn btn-personalizado">Información</a>
            <a th:href="@{/productos}" class="btn btn-personalizado">Productos</a>
            <a th:href="@{/profesionales}" class="btn btn-personalizado">Profesionales</a>
            <a th:href="@{/adopta}" class="btn btn-personalizado">Adopta ❤️</a>
            <a th:href="@{/ubicacion}" class="btn btn-personalizado">Ubicación</a>
            <a th:href="@{/denuncias}" class="btn btn-personalizado">Denuncias</a>
        </div>
        
        <div class="d-flex justify-content-center mt-4 gap-3">
        <a th:href="@{/registrarse}" class="btn btn-outline-success">Registrarse</a>
        <a th:href="@{/iniciarsesion}" class="btn btn-outline-primary">Iniciar Sesión</a>
    </div>

    </body>
    <div th:insert="layout/plantilla :: footer"></div>
</html>
