<!DOCTYPE html>
<!--  Mi primera página html -->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-"><a class="nav-link menu-item" href="/ejemplo2">Mis Autos</a></li>
                    <li class="nav-menu-"><a class="nav-link menu-item" href="/multimedia">Multimedias</a></li>
                    <li class="nav-menu-"><a class="nav-link menu-item" href="/iframes">iFrames</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h1>TechShop</h1>
            <p>En esta tienda hay rifas todas las semanas...</p>
        </aside>
        <section>
        <h2>Su tienda en línea</h2>
        <p>El mejor recurso para compras en línea de calidad mundial...</p>
        </section>
        <footer>
        TechShop 2025 &COPY; Todos los Derechos Reservados
        </footer>
    </body>
</html>
